html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid .grid-item {
  border: 1px solid black;
  transition: all 0.08s ease-in-out;
}

.grid-item-selected {
  background-color: black;
}
