html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid > div {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
}
